fieldset {
    border: none;
}

output{
    display: inline-block;
    min-width: 2.5em;
  }

label, output{
    padding: 2px 9px;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    font-size: 1.7em;
    font-weight: 500;
}

label[for=slider-red], output[for=slider-red]{
  background-color: rgb(240, 49, 49);
}

label[for=slider-green], output[for=slider-green]{
  background-color: rgb(6, 202, 72);
}
label[for=slider-blue], output[for=slider-blue]{
  background-color: rgb(21, 93, 247);
}
