.preview-container{
    display: grid;
    grid-template-columns: 1fr;
}

.preview-row {
    display: grid;
    justify-content: center;
}

#headline {
    position: absolute;
    left: 928px;
    width: 391px;
    top: 210px;
}

#subtitle {
    position: absolute;
    left: 1022px;
    top: 267px;
    width: 212px;
}

#header {
    position: absolute;
    left: 801px;
    top: 203x;
    top: 198px;
    width: 614px;
}

#container {
    position: absolute;
    left: 801px;
    top: 305px;
    width: 614px;
}

#text {
    position: absolute;
    left: 886px;
    top: 359px;
    width: 311px;
}

#line {
    position: absolute;
    width: 3.5px;
    height: 204px;
    left: 866px;
    top: 340px;
}


#reactLogo {
    position: absolute;
    width: 114px;
    top: 355px;
    left: 1302px;
    fill: black;
}

