.schemes {
    background-color: aquamarine;
}

.paletteContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.paletteContainer:nth-child(2n) {
    flex-basis: 100%;
}

.paginationContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.sortingContainer{
    display: flex;
    flex-direction: row-reverse;
    padding-right: 50px;
}

.sortDate{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sortRating{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}