.container-create-palette {
    height: 94vh;
    width: 100vw;
    display: grid; 
    grid-template-columns: 0.5fr 3.5fr 2fr 0.5fr;
    grid-template-rows: 0.1fr 4fr 0.1fr;
    gap: 0px 0px;
    grid-template-areas: 
    ". . . ."
    ". container-large container-small ."
    ". . . .";
}

.container-small {
    grid-area: container-small;
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1.8fr 0.2fr; 
    grid-template-areas: 
    "container-preview" 
    "container-save-button";
    margin-left: 20px;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 0px 0px 20px 0px rgb(163, 163, 163);
}

.container-preview {
    grid-area: container-preview;
    background-color: white;
}

.container-save-button {
    grid-area: container-save-button;
    background-color: #ececec;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:    "button-left-align button-right-align";
    height: 100%;
}

.button-right-align {
    grid-area: button-right-align;
    justify-self: center;
    align-self: center;
}

.button-left-align {
    grid-area: button-left-align;
    justify-self: center;
    align-self: center;
}

.container-large { 
    grid-area: container-large;
    display: grid; 
    grid-template-columns: 1.5fr 1fr; 
    grid-template-rows: 1fr; 
    grid-template-areas: 
    "container-picker container-color-container";
    background-color: rgb(236, 236, 236);
    border-radius: 30px;
    box-shadow: 0px 0px 20px 0px rgb(163, 163, 163);
    margin-right: 50px;
}

.container-picker {
    grid-area: container-picker;
    display: grid; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "container-color-wheel"
    "container-slider";
    justify-items: center;
    margin-top: 70px;
}

.container-color-wheel {
    grid-area: container-color-wheel;
}

.container-slider {
    grid-area: container-slider;
}

.container-color-container {
    grid-area: container-color-container;
}

