#addCommentBox{
    border: 4px solid green;
    margin: 4px;
    padding: 4px;
}

#commentBox{
    border: 4px solid yellow;
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
}

#test{
    background: hotpink;
}