.color-field {
    width:100%;
    background: rgb(95, 224, 192);
    color: white;
    display: grid;
    position: relative;
    
}

.color-field-text {
    justify-self: center;
    align-self: center;
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}



.button-delete {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.534);
    top: 0px;
    right: 0px;
    height: 100%;
    width: 100px;
    display: none;
    cursor: pointer;
}

.color-field:hover > .button-delete {
    display: grid;
    transition: 2s;
}

.button-delete-text {
    justify-self: center;
    align-self: center;
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}